extends ../layouts/default

block intro
	.container
		h1(style="text-align:center;margin-top:70px;")  About Us

block content
	.container
		p(style="font-size: 26px;width:80%;text-align:center;margin-left:10%;")
			| Pioneer Designs is a company which stems from a long family history in the furniture design and manufacturing industry. We have established ourselves as leaders in the industry with an experience of over 45 years. It is through this experience that we can confidently guarantee the quality and proportionality of our products having learnt from the true masters in upholstery and design.
		h4(style="font-size:25px;text-align:center;margin-top:50px;font-weight:bold;text-decoration: underline;")
			span(class="glyphicon glyphicon-info-sign", style="width:80px;height:40px;margin-right:5px;", aria-hidden="true")
			span We manufacture a range of different Lounge, Dining Room and Bedroom Suites including:

		#services
			p(style="text-align:left;")
				span
					div(class="bullet")
				span Corner Suites
			p(style="text-align:left;")
				span
					div(class="bullet")
				span Dining Room Chairs
			p(style="text-align:left;")
				span
					div(class="bullet")
				span Period Designs and Carved Furniture
			p(style="text-align:left;")
				span
					div(class="bullet")
				span Fabric Couches
			p(style="text-align:left;")
				span
					div(class="bullet")
				span Leather Couches
			p(style="text-align:left;")
				span
					div(class="bullet")
				span Occasional Chairs and Ottomans
			p(style="text-align:left;")
				span
					div(class="bullet")
				span Headboards
			p(style="text-align:left;")
				span
					div(class="bullet")
				span Bar Stools 
		p(style="font-size: 22px;width:80%;text-align:center;margin-left:10%;margin-top:20px;")
			| We are masters in custom designs for varying requirements in the hospitality and interior design industries. Feel Free to contact us for any enquiries