extends ../layouts/default

block content
	#myCarousel.carousel.slide(data-ride='carousel')
		ol.carousel-indicators
			li.active(data-target='#myCarousel', data-slide-to='0')
			|         
			li(data-target='#myCarousel', data-slide-to='1')
			|         
			li(data-target='#myCarousel', data-slide-to='2')
		|
		.carousel-inner(role='listbox')
			.item.active
				img.slide-1(src='/images/slider/1.jpg', alt='First slide')
				|
				.container
					.carousel-caption
						h1 Corner Suites
						|
						p
							| Have a look at our gallery to see more products.
						p
							a.btn.btn-lg.btn-primary(href='/gallery', role='button') See More &gt;&gt;
			.item
				img.slide-2(src='/images/slider/2.jpg', alt='Second slide')
				|
				.container
					.carousel-caption
						h1 Get in touch with us
						|
						p
							| Visit our contact us page to get in touch with us.
						p
							a.btn.btn-lg.btn-primary(href='/contact', role='button') Contact Us &gt;&gt;
			.item
				img.slide-2(src='/images/slider/3.jpg', alt='Second slide')
				|
				.container
					.carousel-caption
						h1 About us
						|
						p
							| Learn more about us on our about us page
						p
							a.btn.btn-lg.btn-primary(href='/gallery', role='button') Learn More &gt;&gt;
			|
			a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
				span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
				|
				span.sr-only Previous
				|
			a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
				span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
				|
				span.sr-only Next

block js
	script(src="js/multi-slider.js")
	script(src="js/home.js")