extends ../layouts/default

block intro
    .container
        
block content
    div(style="width:80%;margin:auto;margin-top:50px;border-top: 1px solid #eeeeee;")
        h2(style="text-align:center;") Services
        //h4(style="text-align:center;font-weight:bold;text-decoration: underline;")
        //    span(class="glyphicon glyphicon-info-sign", style="width:80px;height:40px;margin-right:5px;", aria-hidden="true")
        //    span 
        //p(style="text-align:left;") 

        #services(style="font-size: 15pt;")
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span Head Boards
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span Fabric Couches
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span Corner Suites
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span Occassional Chairs
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span Dining Room Chairs
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span Miscellaneous

        p(style="text-align:center;margin-top:80px;") Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.